---
import Layout from '../layouts/Layout.astro';
import json from '../assets/Data/Data.json';
import Link from '../components/Link.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import ModalLayout from '../layouts/ModalLayout.astro';
import AstroHeart from '../components/AstroHeart.astro';
---

<Layout title='Agustin Morales'>
	<Navbar />

	<main class='mb-8 flex w-full flex-col justify-center px-4 pt-16'>
		<Header />
		<ul class='flex w-full flex-col items-center gap-4'>
			{
				json.map((data) => (
					<Link
						title={data.title}
						href={data.url}
						icon={data.icon}
						share={data.share}
					/>
				))
			}
		</ul>
	</main>

	<AstroHeart />

	<ModalLayout>hola mundo</ModalLayout>

	<Footer />
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const navbar = document.getElementById('navbar');

		const navbar__image = document.getElementById('navbar__image');
		const navbar__paragraph = document.getElementById('navbar__paragraph');

		// Obtener la posición inicial de la página
		let startPosition = window.pageYOffset;

		// Agregar un evento de escucha de desplazamiento
		window.addEventListener('scroll', function () {
			// Obtener la posición actual de la página

			const currentPosition = window.pageYOffset;

			if (!!navbar && !!navbar__image && !!navbar__paragraph) {
				if (currentPosition === 0) {
					navbar.classList.remove('nav-visible');
					navbar.classList.add('border-transparent');
					navbar__image.classList.add('hidden');
					navbar__paragraph.classList.add('hidden');
				}

				// Verificar si la página se ha desplazado hacia abajo
				if (
					currentPosition > startPosition &&
					!!navbar__paragraph &&
					!!navbar__image
				) {
					// Si se ha desplazado hacia abajo, agregar una clase para mostrar la barra de menú
					navbar.classList.add('nav-visible');
					navbar.classList.remove('border-transparent');
					navbar__image.classList.remove('hidden');
					navbar__paragraph.classList.remove('hidden');
				}

				// Actualizar la posición inicial de la página
				startPosition = currentPosition;
			}
		});
	});
</script>
