---
import avatar from '../assets/Images/avatar.webp';
---

<header class='mb-8 flex flex-col items-center'>
	<img
		width='96'
		class='mb-4 rounded-full'
		src={avatar}
		alt=''
	/>
	<h1 class='text-xl font-bold'>Agustin Morales</h1>
	<h2 class='font'>Frontend Developer</h2>
</header>
